<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Ngày Nhà giáo Việt Nam</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Chào mừng đến với Ngày Nhà giáo Việt Nam 20/11</h1>
    <nav>
        <a href="/">Trang chủ</a>
        <a href="/history">Lịch sử và Ý nghĩa</a>
        <a href="/tributes">Lời tri ân</a>
        <a href="/teachers">Gương mặt nhà giáo</a>
        <a href="/activities">Hoạt động chào mừng</a>
        <a href="/gallery">Thư viện ảnh/video</a>
    </nav>
    <h1>Lịch Sử</h1>
    <p> Vào Tháng 7 năm 1946, một tổ chức quốc tế các nhà giáo được thành lập ở Paris đã lấy tên là Liên hiệp quốc tế các công đoàn giáo viên (tiếng Pháp: Fédération Internationale Syndicale des Enseignants - FISE).
        Nǎm 1949, tại một hội nghị ở Warszawa, Liên hiệp quốc tế các công đoàn giáo viên đã soạn ra bản "Hiến chương các nhà giáo" gồm 15 chương với nội dung chủ yếu là đấu tranh chống nền giáo dục tư sản, phong kiến,
        xây dựng nền giáo dục trong đó bảo vệ những quyền lợi của nghề dạy học và nhà giáo, đề cao trách nhiệm và vị trí của nghề dạy học và nhà giáo.
        Từ ngày 9 đến ngày 11 tháng 8 năm 1954, tại Moscow, cuộc họp thứ XIX của Ủy ban hỗn hợp Liên đoàn quốc tế các nhà giáo đã nhất trí thông qua "Hiến chương các Nhà giáo" với 15 chương.
        Công đoàn giáo dục Việt Nam, là thành viên của FISE từ năm 1953 đã quyết định trong cuộc họp của FISE từ 26 đến 30 tháng 8 năm 1957 tại Warszawa (hội nghị có 57 nước tham dự), lấy
        ngày 20 tháng 11 năm 1958 là ngày "'Quốc tế hiến chương các nhà giáo". Ngày này lần đầu tiên được tổ chức vào năm 1958 trên toàn miền Bắc Việt Nam.
        Khi Việt Nam thống nhất, ngày này đã trở thành ngày truyền thống của ngành giáo dục Việt Nam. Vào ngày 28 tháng 9 năm 1982, Hội đồng Bộ trưởng đã ban hành quyết định số 167-HĐBT thiết lập ngày 20 tháng 11 hằng
        năm là ngày lễ mang tên "Ngày Nhà giáo Việt Nam".</p>
        <h1>Ý nghĩa</h1>
    <p>Lịch sử ngày 20/11 là một dấu mốc quan trọng trong ngành giáo dục. Ngày 20/11 là ngày Hiến chương Nhà giáo Việt Nam, là ngày hội của ngành giáo dục,
        của các nhà giáo. Ý nghĩa ngày 20/11 thể hiện rõ truyền thống "Tôn sư trọng đạo" của dân tộc ta nhằm mục đích tri ân những người trong lĩnh vực giáo dục.
        Đây là dịp để các thế hệ học trò bày tỏ lòng biết ơn sâu sắc đến thầy cô, những người đã có công dạy dỗ, uốn nắn, chắp cánh cho chúng ta trên con đường học vấn.
        Họ đã không quản ngại khó khăn, vất vả để truyền đạt kiến thức, giúp đỡ học sinh phát triển toàn diện cả về trí tuệ, thể chất và tâm hồn.</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/AjCPpaMoWv8?si=PmowVnKu8pcuhCMK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </video>
</body>
</html>